<title>Add Motivation</title>
<link rel="stylesheet" href="/public/css/add-motivation.css" />

<h1>Add Some Motivation</h1>
<form action="POST">
  <label for="action">Action</label>
  <input type="text" id="action" />
  <label for="description">Description</label>
  <textarea id="action"></textarea>
  <button type="submit">Submit</button>
</form>
