body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 50%;
  margin: 3rem;
  border: 1rem dotted blue;
  padding: 5rem;
}
form * {
  display: block;
  width: 100%;
}
form input,
form textarea {
  margin-bottom: 1rem;
}
